<th:block th:fragment="head">
    <link rel="canonical" 
          th:href="${pageCanonical != null} ? ${pageCanonical} : (${@environment.getProperty('app.site.url')} + @{''})" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TSZJ56982"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        // ID puesto directamente para evitar errores de Analystic
        gtag('config', 'G-0TSZJ56982');
    </script>
</th:block>